.myRelative {
  position: relative;
}

.myAbsolute {
  position: absolute;
}

.myModal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;
  min-width: 450px;
  margin: 12px;
}

body {
  background-color: #f1f1f0 !important;
}

.active {
  font-weight: bold;
  color: #ffc106 !important;
  background: rgb(60, 59, 59) !important;
  border-color: #ffc106 !important;
}

.dropdownItem {
  transition: all 0.3s ease-in;
}

.dropdownItem:hover {
  background: #ffc10615 !important;
}
