.myRelative {
  position: relative;
}

.myHover:hover {
  background: rgba(0, 0, 0, 0.194) !important;
  cursor: pointer;
}

.myAbsolute {
  position: absolute;
}

.myAbsoluteCard {
  position: absolute;
  top: 3%;
  right: 10px;
}

.myAbsoluteCard {
  position: absolute;
  top: 3%;
  right: 10px;
  opacity: 18%;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.card {
  border: solid 3px transparent;
  transition: all 0.3s ease-in;
}

.card:hover {
  border: solid 3px #ffc106;
}

.card:hover .myAbsoluteCard {
  opacity: 70%;
  transition: all 0.3s ease-in;
}

.myModal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;
  min-width: 450px;
  margin: 12px;
}

body {
  background-color: #efeeee !important;
}

.active {
  font-weight: bold;
  color: #ffc106 !important;
  background: #202529 !important;
  border-color: #ffc106 !important;
}

.dropdownItem {
  transition: all 0.3s ease-in;
}

.dropdownItem:hover {
  background: #ffc10615 !important;
}
